// @import "~bootstrap/scss/bootstrap";

$red-bg-color: #720E00 !default;
$orange-yellow-bg-color: #dca219aa !default;
$green-bg-color: #8bd635ea!default;
$blue-purple-bg-color: #002045!default;
$brown-white-bg-color: #96938e!default;


.custom-class {
  margin-top: 20px;
  margin: 30px;
}

body {
  background-color: #2E2633;
  color: white;
  font-size: 24px;
  padding-bottom: 64px;
}