// @import "~bootstrap/scss/bootstrap";
@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2633;
  color: white;
  font-size: 24px;
  padding-bottom: 64px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-class {
  margin-top: 20px;
  margin: 30px;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  padding: 6px;
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  font-family: inherit;
  border-radius: 16px;
  box-shadow: none;
  border: 2px solid black;
  cursor: pointer;
}

a.button {
  font-size: 24px;
  padding: 16px 24px;
  border: 2px solid none;
  border-radius: 16px;
  font-weight: 600;
  text-decoration: none;
  background-color: #e6ea23;
  color: black;
  font-family: 'Work Sans', sans-serif;
  margin-right: 2px;
}

input[type='text'] {
  font-size: 24px;
  background-color: #211c23;
  border-color: #0c0b0d;
  height: 64px;
  padding: 0 20px;
  color: white;
  outline-color: transparent;
}

::placeholder {
  opacity: 0.6;
}

.share-text {
  font-size: 18px;
}

@media (max-width: 480px) {
  
  p#times-eaten {
    display: none;
  }
  a.button {
    font-size: 24px;
    padding: 12px 12px;
    margin-top: 32px;
  }
}
