$red: #F71515;
$red-background: #720E00;

$orange-yellow-background: #725F00;
$orange-yellow: #F5ED29;

$green: #7DA900;
$green-background: #003906;

$blue-purple: #1F7BE8;
$blue-purple-background: #002045;

$brown-white: #C08F6B;
$brown-white-background: #403221;