@use "colors";

.rainbow-animation{
		animation: rainbow 4s linear;
		animation-iteration-count: infinite;
}

.fruits-logo {
  margin-bottom: 36px;
}

@keyframes rainbow{
		100%,0%{
			color: colors.$red;
		}
		20%{
			color: colors.$orange-yellow;
		}
		40%{
			color: colors.$green;
		}
		60%{
			color: colors.$blue-purple;
		}
		80%{
			color: colors.$brown-white;
		}
}

