.list-item {
  border-style: solid;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 12px;
}


.red {
  border-color: rgb(242, 106, 102);
}
.orange-yellow {
  border-color: rgb(226, 226, 8);
}
.green {
  border-color: rgb(33, 151, 37);
}
.blue-purple {
  border-color: rgb(128, 128, 255);
}
.brown-white {
  border-color: beige;
}
