#food-list-items {
  margin: 0;
  padding: 0;
}

.list-item {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 12px;
  border-radius: 44px;
  height: 88px;
  padding: 0 18px;
  display: block;
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.red {
    border-color: #F71515;
    background-color: #720E00;
    .image-background {
      background-color: #F71515;
    }
  }
  &.orange-yellow {
    border-color: #E6EA23;
    background-color: #343500;
    .image-background {
      background-color: #E6EA23;
    }
  }
  &.green {
    border-color: #A0B607;
    background-color: #303600;
    .image-background {
      background-color: #A0B607;
    }
  }
  &.blue-purple {
    border-color: #1F7BE8;
    background-color: #002045;
    .image-background {
      background-color: #1F7BE8;
    }
  }
  &.brown-white {
    border-color: #E97F02;
    background-color:#4F2B00;
    .image-background {
      background-color: #E97F02;
    }
  }

  .image-background {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .label {
    margin-left: 20px;
    font-weight: 600;
  }

  .remove-button {
    margin-left: auto;
    cursor: pointer;
  }
}
