#nav-bar-wrapper {
  margin-bottom: 64px;
  background-color: #211C23;
}

#nav-bar {
  display: flex;
  padding-top: 24px;
  padding-bottom: 20px;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  a {
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 16px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin-right: 2px;

    &.active {
      background-color: #0C0B0D;
      color: #E6EA23;
    }

    // &.right {
    //   margin-right: 0;
    //   margin-left: auto;
    // }
  }

  &.login-and-register-buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  }
}
